li{
    list-style:none;
    background-color:grey;
    border-bottom: 1px dashed lightgray;
    margin-right: 0px;
    padding-right: 0px;
}
ul{
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    margin-bottom: 5px;
}

.IncluirItem{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    height: 25px;
    width:100%;
    z-index: 9;
}

.ApagarItem {
    position: relative;
    clear: both;
    margin-right: 10px;
    top: 0px;
    left:0px;
    display: none;
    z-index: 10;
}

li:hover .ApagarItem {
    display: inline;
}