.QuadroEtapa {
    width: 400px;
    background-color: #49ad4e88;
    padding: 0px 10px 0px 10px;
    margin: 10px 10px 10px 0px;
}

.titulo {
    text-align: center;
}

.botaoExcluir {
    margin-top: 10px;
    margin-bottom:2px;
    width: 15px;
    height: 15px;
    float:right;
    background-image: url('./assets/lixeira.svg');
    background-size: contain;
}

.botaoExcluir:hover {
    border: 1.4px dashed rgb(54, 59, 59);
    width: 16px;
    height: 16px;
    cursor:pointer;
    margin-top:8px;
    margin-bottom:0px;
}